{% extends "base.html"   %}

{% block head %}


<style>
input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  border: 0.5px solid white;
  border-radius: 4px;
}


</style>

{% endblock %}

{% block body %}
<div class = "content">
  <h1 style="color:white" style="text-align:center">   N_O_W_H_E_R_E  </h1>

  <form action="/" method="GET" style="text-align:center" >
      <input type="submit" value="Back to Intro Screen">
  </form>
  <h3 style="color:white" style="text-align:center"   >Scatter Plot of Picture Atrributes</h3>
  <svg width = "960" height = "410" >
  </svg>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <script src="d3-tip.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script>


  console.log(     `{{db_attr[  db_attr['Name'] == 'CH-1995-1'   ]}}`  )
  console.log( 'hello'  )

 d3.csv('/graph/data/TSNE')
   .then(data => {
   data.forEach(d => {
     d.x = +d.x;
     d.y = +d.y;
   })


 	 console.log(data);

   const svg = d3.select('svg');
   const width = +svg.attr('width');
   const height = +svg.attr('height');

   const xAxislabel = ' ';
   const yAxislabel = ' ';


   const margin = {top: 10 , right: 50 , bottom: 50, left: 50};
   const innerwidth = width - margin.left - margin.right;
   const innerheight = height - margin.top - margin.bottom;


 const xValue =  d => d.x;
 const yValue = d => d.y;




 var tool_tip = d3.tip()
   .attr('class', 'd3-tip')
   .direction('e')
   .offset([0,5])
   .html(function(d) {
       // var content = "<span style='margin-left: 2.5px;'><b>" + d.name + "</b></span><br>";
       console.log(     d.img  )
       console.log( {{db_attr[  db_attr['Name'] ==  d.img ]['Year'].values[0] }} )
       var image = '../static/pictures/' + d.img + '.jpg'
       var content = "<span style='margin-left: 2.5px;'><b>" + d.img + "</b></span><br>";
       content +=`<img src="`+ image +`" alt="" height="300px" width="300px">`
       content +=`<p>Year:{{db_attr[  db_attr['Name'] == '`+ CH-1995-1 + `'  ]['Year'].values[0] }}</p>`
       content +=`<p>Location:</p>`


       return content;
   });

 svg.call(tool_tip);

   // xScale
 const xScale = d3.scaleLinear()
       .domain(d3.extent(data,xValue))
       .range([0 , innerwidth]);

 // y Scale
 const yScale = d3.scaleLinear()
   .domain(d3.extent(data,yValue))
   .range([innerheight,0]);

   const g = svg.append('g')
   	.attr('transform', `translate(${margin.left}, ${margin.top})`);



    const yAxis = d3.axisLeft(yScale)
    			.tickSize(-innerwidth)


      const  yAxisG = g.append('g').call(yAxis);

    const xAxis = d3.axisBottom(xScale)
    .tickSize(-innerheight);


    const  xAxisG =  g.append('g').call(xAxis)
    		.attr('transform', `translate(0, ${innerheight})`);


  xAxisG.selectAll('.domain')
    .remove();
  yAxisG.selectAll('.domain')
    .remove();


  yAxisG.append('text')
    .attr('class','axis-label')
    .attr('y',-17)
    .attr('x', -innerheight/2  + 15)
    .attr('fill','black')
    .attr('transform','rotate(-90)')
    .attr('text-anchor','middle')
    .text(yAxislabel);


    xAxisG.append('text')
      	.attr('class','axis-label')
      	.attr('y',30)
      	.attr('x',innerwidth/2)
        .attr('fill','black')
    		.text(xAxislabel);



   g.selectAll('circle').data(data)
     .enter().append('circle')
     .transition()
     .duration(1000)
     .attr('cy', d => yScale(yValue(d)) )
     .attr('cx', d => xScale(xValue(d)) )
     .attr('r', 6);

     g.selectAll('circle')
      .on('mouseover', tool_tip.show)
      .on('mouseout', tool_tip.hide);
 });

  </script>
</div>

{% endblock %}
