{% extends "base.html"   %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
  <h1 style="text-align:center"> N_O_W_H_E_R_E </h1>

  <form action="/" method="GET" style="text-align:center">
    <input type="submit" value="Go to Picture">
  </form>
  <h3 style="text-align:center">Parallel Plot of Picture Atrributes</h3>
  <div id="datavis"></div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script type="text/javascript">
    var margin = {
        top: 30,
        right: 10,
        bottom: 10,
        left: 0
      },
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#datavis")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

    var path = "{{json_list}}" + "approach.json"
    d3.json(path)
      .then(function(data) {
        console.log(data)
        // data is now whole data set
        // draw chart in here!
      })
      .catch(function(error) {
        // handle error
      })
  </script>
</div>

{% endblock %}
