<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>N_O_W_H_E_R_E</title>
        <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename = 'css/quiz.css')}}">
        <link href="styles/quiz.css" rel="stylesheet">
    </head>
    <body>
        <div class="quiz-container">
            <div id="quiz">Sample text.</div>
        </div>
        <button id="return-button">START AGAIN</button>
    <script src="../static/js/quiz.js"></script>
    </body>
</html>
