<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <meta name = "viewpoint"  content ="width=device-width, initial-scale=1.0" >
    <meta http-equiv= "X-UA-Compatible" content = "ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/sequence.css')}}">
    <!-- Script for lightbox -->
    <script defer src="../static/js/lightbox.js"></script>
    <!-- Removes error w.r.t. icon of a website in titlebar -->
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>


  <div class="header">
    <h1> S_O_M_E_W_H_E_R_E</h1>
  </div>

  <body>
  <!-- Image grid -->
    <div class='image-grid'>
      <div class='row'>
        {% for img_path in images[0:3] %}
          <div class="container">
            <img class='img-responsive' src= '{{img_path}}'>
          </div>
        {% endfor %}
      </div>
      <div class='row'>
        {% for img_path in images[3:6] %}
          <div class="container">
            <img class='img-responsive' src= '{{img_path}}'>
          </div>
        {% endfor %}
      </div>
      <div class='row'>
        {% for img_path in images[6:9] %}
          <div class="container">
            <img class='img-responsive' src= '{{img_path}}'>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
