<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/sequence.css')}}">
  <!-- Script for lightbox -->
  <script defer src="../static/js/lightbox.js"></script>
  <!-- Removes error w.r.t. icon of a website in titlebar -->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <script>
    var images = {{images | safe}}
    var secondary_images = {{secondary_images | safe}}
  </script>
</head>


<div class="header">
  <h1> S_O_M_E_W_H_E_R_E</h1>
  <form action="/" method="GET" style="text-align:center" >
    <input type="submit" value="Take me back">
  </form>
</div>

<body>
  <!-- Image grid -->
  <div class='image-grid'>
    <div class='row'>
      {% for img_path in images[0:3] %}
      <div class="container">
        <img class='img-responsive' src='{{img_path}}' onmouseover="getImg(this)" onmouseout="resetGraph()">
      </div>
      {% endfor %}
    </div>
    <div class='row'>
      {% for img_path in images[3:6] %}
      <div class="container">
        <img class='img-responsive' src='{{img_path}}' onmouseover="getImg(this)" onmouseout="resetGraph()">
      </div>
      {% endfor %}
    </div>
    <div class='row'>
      {% for img_path in images[6:9] %}
      <div class="container">
        <img class='img-responsive' src='{{img_path}}' onmouseover="getImg(this)" onmouseout="resetGraph()">
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="graph">
    <!-- <form action="/sequence">
      <select name="csv_file">
        <option value="approach">Approach</option>
        <option value="content">Content to me</option>
        <option value="domains">Domains</option>
        <option value="geo">Geographical</option>
        <option value="goals">Goals</option>
        <option value="human-factor">Human Factor</option>
        <option value="means">Means</option>
        <option value="reality">Reality</option>
      </select>
      <input type="submit" value="Update graph">
      <button type="button" name="update" onclick="updateGraph()">Update graph</button>
    </form> -->
    <div class="graph_buttons">
      <button type="buttonbutton" class="graph_button" onclick="updateGraph(value)" value="approach">Approach</button>
      <button type="buttonbutton" class="graph_button" name="button" onclick="updateGraph(value)" value="content">Content to me</button>
      <button type="buttonbutton" class="graph_button" name="button" onclick="updateGraph(value)" value="domains">Domains</button>
      <button type="buttonbutton" class="graph_button" name="button" onclick="updateGraph(value)" value="geo">Geographical</button>
      <button type="buttonbutton" class="graph_button" name="button" onclick="updateGraph(value)" value="goals">Goals</button>
      <button type="buttonbutton" class="graph_button" name="button" onclick="updateGraph(value)" value="human_factor">Human Factor</button>
      <button type="buttonbutton" class="graph_button" name="button" onclick="updateGraph(value)" value="means">Means</button>
      <button type="buttonbutton" class="graph_button" name="button" onclick="updateGraph(value)" value="reality">Reality</button>
    </div>
    <h3 id="graphHeader" style="text-align:center">Parallel Plot of Geographical Atrributes</h3>
    <div id="datavis"></div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script type="text/javascript">
      function updateGraph(newCsv) {

        var svg = d3.select("#vis");
        svg.selectAll("*").remove();


        var elem = document.querySelector('#vis');
        elem.parentNode.removeChild(elem);

        draw(newCsv)

        if (newCsv == "geo") {
          newCsv = "Geographical";
        } else if (newCsv == "content") {
          newCsv = "Content to me";
        } else if (newCsv == "human_factor") {
          newCsv = "Human Factor"
        } else {
          newCsv = newCsv.charAt(0).toUpperCase() + newCsv.substring(1);
        }

        document.getElementById("graphHeader")
          .innerHTML = "Parallel Plot of " + newCsv + " Atrributes";

      }

      function resetGraph() {
        d3.selectAll(".line")
          .transition().duration(50)
          .style("stroke", function(d) {
            if ({{image_names | safe}}.indexOf(d.Name) >= 0) {
              return "red";
            } else {
              return "#69b3a2";
            }
          })
          .style("opacity", function(d) {
            if ({{image_names | safe}}.indexOf(d.Name) >= 0) {
              return 1;
            } else {
              return 0.15;
            }
          })
      }

      function getImg(x) {
        console.log(x);
        var start = x.src.lastIndexOf("/") + 1;
        var end = x.src.lastIndexOf(".jpg")
        var name = x.src.substring(start, end);
        console.log(name);

        if (name.includes("%20")) {
          name = decodeURI(name)
          name = name.replace(" ", "_")
        }

        highlight(name)
      }

      var highlight = function(d) {

        // first every group turns grey
        d3.selectAll(".line")
          .transition().duration(50)
          .style("stroke", "#69b3a2")
          .style("opacity", "0.2")
        d3.selectAll("#" + d)
          .raise()
          .transition().duration(50)
          .style("stroke", "red")
          .style("opacity", "1")
      }

      var margin = {
          top: 30,
          right: 10,
          bottom: 20,
          left: 0
        },
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;


      function draw(csv_name) {
        // append the svg object to the body of the page
        var svg = d3.select("#datavis")
          .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .attr("id", "vis")
          .append("g")
          .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

        console.log(csv_name);
        var path = "{{json_list}}" + csv_name + ".csv"
        d3.csv(path)
          .then(function(data) {

            dimensions = d3.keys(data[0]).filter(function(d) {
              return d != "Name"
            })

            var y = {}
            for (i in dimensions) {
              name = dimensions[i]
              y[name] = d3.scaleLinear()
                .domain(d3.extent(data, function(d) {
                  return +d[name];
                }))
                .range([height, 0])
            }

            // Build the X scale -> it find the best position for each Y axis
            x = d3.scalePoint()
              .range([0, width])
              .padding(1)
              .domain(dimensions);

            function path(d) {
              return d3.line()(dimensions.map(function(p) {
                return [x(p), y[p](d[p])];
              }));
            }

            svg
              .selectAll("path")
              .data(data)
              .enter().append("path")
              .attr("d", path)
              .attr("class", "line")
              .attr("id", function(d) {
                var name = d.Name
                if (name.includes(" ")) {
                  name = name.replace(" ", "_")
                }
                return name;
              })
              .style("fill", "none")
              .style("stroke", function(d) {
                if ({{image_names | safe}}.indexOf(d.Name) >= 0) {
                  return "red";
                } else {
                  return "#69b3a2";
                }
              })
              .style("opacity", function(d) {
                if ({{image_names | safe}}.indexOf(d.Name) >= 0) {
                  return 1;
                } else {
                  return 0.15;
                }
              })



            var counter = dimensions.length
            // Draw the axis:
            svg.selectAll(".axis")
              // For each dimension of the dataset a 'g' element:
              .data(dimensions).enter()
              .append("g")
              .attr("class", "axis")
              .attr("transform", function(d) {
                return "translate(" + x(d) + ")";
              })

              // Add axis
              .each(function(d) {
                d3.select(this).call(d3.axisLeft().scale(y[d]));
              })
              .style("stroke", "white")

              // Add axis title
              .append("text")
              .style("text-anchor", "middle")
              .attr("y", function(d) {
                if (counter % 2 == 0) {
                  counter = counter - 1
                  return -9
                } else {
                  counter = counter - 1
                  return 470
                }
              })
              .text(function(d) {
                return d;
              })
              .style("fill", "white")


            selectAll(".axis").selectAll("path")
              .style("fill", "white")

          })
          .catch(function(error) {
            // handle error
          })
      }

      draw("geo");
    </script>
</body>

</html>
